<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.MadeInOrenburgRegion"
        tools:targetApi="31">
        <activity
            android:name=".FeedBackActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".IriklinskoeActivity"
            android:exported="false" />
        <activity
            android:name=".ParkPobediOrenActivity"
            android:exported="false" />
        <activity
            android:name=".OrenMuseimActivity"
            android:exported="false" />
        <activity
            android:name=".AttractionsActivity"
            android:exported="false" />
        <activity
            android:name=".OrenburgMolokoZavodActivity"
            android:exported="false" />
        <activity
            android:name=".OrskMasoKombinatActivity"
            android:exported="false" />
        <activity
            android:name=".PuhActivity"
            android:exported="false" />
        <activity
            android:name=".BrandActivity"
            android:exported="false" />
        <activity
            android:name=".BashkirActivity"
            android:exported="false" />
        <activity
            android:name=".TatarActivity"
            android:exported="false" />
        <activity
            android:name=".KazakActivity"
            android:exported="false" />
        <activity
            android:name=".CultureActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>